body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1 {
    color: #007bff;
  }
  
  ul {
    list-style: disc;
  }
  
  ul li {
    margin-bottom: 8px;
  }
  .carousel-item img {
    max-height: 100%;
    width: auto;
    margin: 0 auto;
  }
  .carousel {
    height: 300px; 
  }
  
  .carousel-item {
    height: 100%; 
  }